---
key-1: "Key-1 Value"
---
<h1>var example</h1>

{{{var name="key-textfield" type="textfield" value=key-textfield}}}<br /><br />
{{{var name="key-textarea" type="textarea" value=key-textarea}}}<br /><br />
{{{var name="key-checkbox" type="checkbox" value=key-checkbox}}}<br /><br />
{{{var name="key-radio" type="radio" value=key-radio}}}<br /><br />
{{{var name="key-colorpicker" type="colorpicker" value=key-colorpicker}}}<br /><br />
{{{var name="key-image" type="image" value=key-image}}}<br /><br />
{{{var name="key-number" type="number" value=key-number}}}<br /><br />

{{#if (var name="condition" type="checkbox" value=condition)}}
  if test true
{{/if}}

{{#mixin "partial"}}
  {{#content "primary"}}
      <legend>{{{var name="legend" type="textfield" value=../legend}}}</legend>
      {{{mixin "sub-partial"}}}
  {{/content}}
{{/mixin}}
